{% load static %}
<link rel="stylesheet" href="{% static 'css/partials/menu_hamburguer.css' %}">
<div class="container">
    <input type="checkbox" id="menu" class="container__botao">
    <label for="menu">
        <span class="cabecalho__menu-hamburguer container__imagem"></span>
    </label>
    <ul class="lista-menu">
        <li class="lista-menu__titulo">Menu</li>
        <li class="lista-menu__item">
            <a href="" class="lista-menu__link">Perfil</a>
        </li>
        <li class="lista-menu__item">
            <a href="{% url 'logout' %}" class="lista-menu__link">Sair</a>
        </li>
    </ul>
</div>
