.footer {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer_p {
    font-size: 0.9rem;
}
