{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'epis/epis_lista.css' %}">
{% endblock %}

{% block content %}
    <div class="conteudo">
        <div class="busca">
            
        </div>
        <div class="content_list">
            {% if epis %}
            {% for epi in epis %}
                
                    <li class="lista">
                        <a href="{% url 'epi_detalhes' epi.slug %}" class="nome__lista">
                            {{ epi.nome }} - {{ epi.numero_ca }}
                        </a>
                    </li>
            {% endfor %}
            {% else %}
                <p>Ainda não há EPIs cadastrados</p>
            {% endif %}

        </div>
        <div class="botoes">
            <a href="{% url 'epi_adicionar' %}" class="botao-adicionar">Adicionar EPI</a>
            <a href="{% url 'epi_importar' %}" class="botao-importar">Importar</a>
          
        </div>
    </div>
    
{% endblock %}
